@use "./base.scss";

// put your custom CSS here!

strong, .page article p > strong {
    color: var(--bold);
}

em {
    color: var(--italic);
}

h1 {
    color: var(--h1color);
}

h2 {
    color: var(--h2color);
}

h3 {
    color: var(--h3color);
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a.internal {
    color: var(--darkgray);
}
